{erl_opts, [debug_info]}.
{plugins, [rebar3_hex]}.
{deps, [
  {mochijson2, ".*", {git, "https://github.com/mochi/mochiweb.git"}},
  {mongodb, ".*", {git, "git://github.com/comtihon/mongodb-erlang"}},
  {uuid, ".*", {git, "https://github.com/avtobiff/erlang-uuid.git", "master"}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [app]}
]}.
